.mypy_cache
.DS_Store
.pytest_cache
coverage.xml
.env
.tox
.coverage
htmlcov
*.egg-info
packages/open_aea
packages/valory
leak_report
/Pipfile.lock

packages/eightballer/protocols/prometheus
packages/eightballer/protocols/http
packages/eightballer/protocols/orders
packages/valory/protocols/ledger_api
packages/valory/protocols/contract_api
packages/eightballer/protocols/default
packages/open_aea/protocols/signing
packages/eightballer/protocols/fipa
packages/eightballer/contracts/erc_20
packages/eightballer/connections/prometheus
packages/valory/connections/ledger
packages/eightballer/connections/http_client
packages/eightballer/connections/http_server
packages/eightballer/skills/prometheus
packages/eightballer/skills/balance_metrics

packages/eightballer/protocols/websockets
packages/eightballer/connections/websocket_server


*private_key*
agent
